<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body>
<h2> [YH] 게시판 </h2>
<a href="/member/save1">회원가입</a>
<a href="/member/login">로그인</a>
<a href="/member/">회원목록</a>
<button onclick="saveReq()">글작성</button>
<!--//자바스크립트 함수 호출 방식 (글 작성을 누르면 saveReq 라는 함수 호출)-->
</body>
<script>
  //function saveReq() {} 똑같은 정의 방식 , 그 이전 부터 사용되어 오던 함수 정의 방식 (차이 X)
  const saveReq = () => { // ES6에서 사용하는 함수 정의 방식 (es6.. 찾아보기)
    location.href = "/board/detail";
  }
</script>
</html>
